# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.po
MANIFEST

# Django
/media/*
!/media/.gitkeep
/staticfiles/*
!/staticfiles/.gitkeep
/.env*
!.env.example
/env/
/venv/
/.venv
/ENV/

# Poetry
/pip-selfcheck.json
/.cache/
/build/
/dist/
*.egg-info/
.sdist/
.wheelhouse/
htmlcov/
.pytest_cache/
.coverage
*.coverage.*
nosetests.xml
coverage.xml

# VSCode
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Docker
Dockerfile
docker-compose.yml

# DRF / API
/swagger.yaml
/schema.yml

# Тесты
/tests/__pycache__
/tests/*.pyc
/migrations/__pycache__
/migrations/*.pyc
/results/
/reports/

# Кэши
/cache/